.add_lead_modal_btn{
  background-color: black !important; 
  border-color: black !important;
  margin-bottom: 1em;
}
.leads_table {
  border:1px solid grey;
}
.leads_table_header{
  background-color: black;
  color:white;
  border-color: gray;
}
.update_lead_modal_btn{
  background-color: black !important; 
  border-color: black !important;
  margin-right: 1em;
}
.delete_lead_modal_btn{
  background-color: black !important; 
  border-color: black !important;
}
.add_lead_btn{
  background-color: black !important; 
  border-color: black !important;
}
.update_lead_btn{
  background-color: black !important; 
  border-color: black !important;
}
.modal_head{
  background-color: black;
  color: white;
}

.delete_lead_btn{
  margin-right: 1em;
}
.delete_ead_form {
  text-align: center;
}

.update_lead_form{

}

.delete_lead_form{
  
}